<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
   <div class="container-btns">
    <mat-tab-group>
      <mat-tab label="First">
        <div class="category addform">
          <h1>Add New Category</h1>
        <mat-form-field hintLabel="Max 20 characters" appearance="fill" [formGroup]="addcategoryform">
          <mat-label>Category Name</mat-label>
          <input matInput #input maxlength="20" formControlName="addcatname" placeholder="Buillding" required>
          <mat-hint align="end">{{input.value.length}}/20</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" [formGroup]="addcategoryform">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="addcatinfo" required></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="addcategoryform.invalid" (click)="onNewCategory()">Create</button>
        </div>


      </mat-tab>
      <mat-tab label="Second">
        <div class="room addform">
          <br>
          <h1>Add New Rooms For Available category</h1>
          <br>
          <mat-form-field appearance="fill" [formGroup]="addroomform">
            <mat-label>Category</mat-label>
            <mat-select formControlName="selectFormControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let i of categories" [value]="i._id">
                {{i.cname}}
              </mat-option>
            </mat-select>

          </mat-form-field>

          <mat-form-field  appearance="fill" [formGroup]="addroomform">
            <mat-label>Room name</mat-label>
            <input matInput  placeholder="Room 0" required="" formControlName="addroomname" >

          </mat-form-field>
          <mat-form-field appearance="fill" [formGroup]="addroomform">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="addroominfo"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="addroomform.invalid" (click)="onNewRoom()">Create Room</button>

        </div>

      </mat-tab>
    </mat-tab-group>

   </div>
  </div>
</div>
