// Fonts to be used in the website
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$primary_font: "Lato", "Open Sans", sans-serif;
$secondary_font: "Montserrat", sans-serif;
