.grid {
  display: grid;
  gap: 2em;
  &.c-2 {
    grid-template-columns: 1fr 2fr;
    &.equal {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &.c-1 {
    grid-template-columns: 1fr;
  }
}
@include sm-screen {
  .grid {
    gap: 1em;
    &.c-2 {
      grid-template-columns: 1fr;

      &.equal {
        grid-template-columns: 1fr;
      }
    }
  }
}
