<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Navigation</h2>

  <div >
    <a mat-list-item routerLinkActive="list-item-active" routerLink="home">
      <mat-icon>B</mat-icon> Book Rooms
    </a>
      <a  *ngIf="isAdmin" mat-list-item routerLinkActive="list-item-active" routerLink="newadding">
        <mat-icon>Create </mat-icon> Create Rooms
      </a>
      <a  *ngIf="isAdmin" mat-list-item routerLinkActive="list-item-active" routerLink="userstatus">
        <mat-icon>U </mat-icon> Users Status
      </a>

      <a  mat-list-item routerLinkActive="list-item-active" routerLink="history">
        <mat-icon>B </mat-icon> Booked History
      </a>

      <a *ngIf="isUser" mat-list-item routerLinkActive="list-item-active" routerLink="rejecthistory">
        <mat-icon>R </mat-icon> Rejected History
      </a>
  </div>

</mat-nav-list>
